<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.tritracker"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-feature
		android:glEsVersion="0x00020000"
		android:required="true" />

	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:resizeable="true"
		android:smallScreens="true" />

	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission
		android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="19" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:logo="@drawable/ic_buss_white"
		android:theme="@style/AppTheme" >
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
		<meta-data
			android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyAZL6PZRy8uzilRdvhuRBAPM93Xgbr81bQ" />
		<!-- laptop: AIzaSyBPzWhNHOgAuOLch3YJQILQSoBsza6NIHc pc: AIzaSyAZL6PZRy8uzilRdvhuRBAPM93Xgbr81bQ /> -->

		<service
			android:name="com.example.tritracker.activities.MainService"
			android:label="Tritracker Update Service" />

		<activity
			android:name="com.example.tritracker.activities.MainActivity"
			android:windowSoftInputMode="stateHidden" >
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />

				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.example.tritracker.activities.StopDetailsActivity"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.example.tritracker.activities.AlertListActivity"
			android:label="@string/title_activity_alert_details"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.example.tritracker.activities.SettingsActivity"
			android:label="@string/title_activity_settings"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.example.tritracker.activities.MapActivity"
			android:label="@string/title_activity_map"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.example.tritracker.activities.SpinnerPopupActivity"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.example.tritracker.activities.SearchRoutesActivity"
			android:label="@string/title_activity_search_routes" 
			android:windowSoftInputMode="stateHidden" >
		</activity>
        <activity
            android:name="com.example.tritracker.activities.BussLineOverviewActivity"
            android:label="@string/title_activity_search_routes"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
	</application>

</manifest>
